.btn{
    width: 173px;
    height: 53px;
    border-radius: 5px;
    margin: 0px 5px;
    font-weight: 500;
    border: unset;
    cursor: pointer;
    box-shadow: 0 3px 3px 2px #ececec;
}

.btn-fill-prrimary{
    background-color: $primary-color;
    color: $white-color;
}
.btn-fill-white{
    background-color: $white-color;
}

.larg-btn{
    height: 90px;
    font-size: 25px;
    width: unset;
}
.small-btn{
    width: 117px;
    height: 37px;
}
.image-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 15px 5px;
    img{
        margin: 0px 5px;
    }
}