.service-register-section{
    display: flex;
    justify-content: space-between; 
    padding: 20px 120px;
    @include mq('tablet-wide'){
        flex-direction: column;
        padding: 20px 20px;
    }
}