@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
:root {
  --color-page-background: #fff;
  --color-text: #C21A3A;
  --color-border: #C21A3A;
  --color-article-background: white;
  --color-article-shadow: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
}

/************MEDIA QUERY ********************/
.btn {
  width: 173px;
  height: 53px;
  border-radius: 5px;
  margin: 0px 5px;
  font-weight: 500;
  border: unset;
  cursor: pointer;
  box-shadow: 0 3px 3px 2px #ececec;
}

.btn-fill-prrimary {
  background-color: #C21A3A;
  color: #fff;
}

.btn-fill-white {
  background-color: #fff;
}

.larg-btn {
  height: 90px;
  font-size: 25px;
  width: unset;
}

.small-btn {
  width: 117px;
  height: 37px;
}

.image-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 15px 5px;
}

.image-btn img {
  margin: 0px 5px;
}

.custom-input {
  height: 52px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  text-indent: 10px;
  width: 100%;
  box-sizing: border-box;
}

.custom-select {
  height: 68px;
  /* background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue); */
}

.rectangle-shape {
  width: 95px;
  height: 5px;
  background-color: #C21A3A;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.socialmedia-wrapper.center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 4px 3px #ececec;
  padding: 10px;
  border-radius: 30px;
}

.socialmedia-wrapper .socialmedia-item {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #20334D;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.socialmedia-wrapper .socialmedia-item.small {
  width: 35px;
  height: 35px;
  margin: 1px;
}

.socialmedia-wrapper .socialmedia-item.small img {
  transform: scale(0.6);
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 119px;
  box-shadow: 0 3px 3px 0px #ececec;
}

.main-header img {
  width: 115px;
  height: 43px;
}

.welcome-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcome-section p {
  color: #20334D;
  font-size: 20px;
  text-align: center;
}

.welcome-section .buttons-wrabber {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 360px) {
  .welcome-section .buttons-wrabber {
    flex-direction: column;
  }
}

.welcome-section img {
  margin-top: 200px;
  width: 700px;
  max-width: 80%;
}

.service-register-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
}

@media only screen and (max-width: 1024px) {
  .service-register-section {
    flex-direction: column;
    padding: 20px 20px;
  }
}

.register-form-wrapper {
  flex-basis: 50%;
}

@media only screen and (max-width: 1024px) {
  .register-form-wrapper {
    flex-basis: 100%;
  }
}

.register-form-wrapper h1 {
  color: #20334D;
}

.register-form-wrapper h1 span {
  padding-bottom: 5px;
}

.register-form-wrapper .register-form {
  display: flex;
  flex-wrap: wrap;
}

.register-form-wrapper .register-form .input-wrapper {
  flex-basis: 45%;
  margin: 5px 10px;
}

@media only screen and (max-width: 479px) {
  .register-form-wrapper .register-form .input-wrapper {
    flex-basis: 90%;
  }
}

.cards-slider {
  flex-basis: 50%;
}

@media only screen and (max-width: 1024px) {
  .cards-slider {
    flex-basis: 100%;
  }
}

.cards-slider h5 {
  color: #C21A3A;
}

.cards-slider-wrapper {
  display: flex;
}

.cards-slider-wrapper .card-item {
  z-index: 10;
}

.cards-slider-wrapper .card-item:nth-child(2) {
  transform: scale(0.8);
  margin-left: -80px;
  z-index: 8;
}

.cards-slider-wrapper .card-item:nth-child(3) {
  transform: scale(0.6);
  margin-left: -100px;
  z-index: 6;
}

.card-item {
  box-shadow: 0 3px 3px 0px #ececec;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.card-item .cover-image {
  width: 100%;
  position: relative;
}

.card-item .cover-image img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card-item .cover-image .position-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: scale(2) rotate(-45deg);
}

.card-item .cover-image .position-left {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: scale(2) rotate(135deg);
}

.card-item .user-image-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -60px;
  z-index: 10;
  position: relative;
}

.card-item .user-image-wrapper img {
  width: 113px;
  height: 113px;
  border-radius: 50%;
}

.card-item .user-image-wrapper .true-sign {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #C21A3A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  box-shadow: 0 6px 4px 3px #ececec;
}

.card-item .user-image-wrapper .rating {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 25px;
  box-shadow: 0 6px 4px 3px #ececec;
}

.card-item .user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-item .user-details h6 {
  font-size: 22px;
  margin: 20px;
}

.card-item .user-details p {
  color: #C21A3A;
  font-size: 16px;
  margin: 20px;
  text-align: center;
}

.card-item .user-details span {
  margin: 20px;
}

.buttons-section {
  display: flex;
  justify-content: center;
  margin-bottom: -60px;
}

@media only screen and (max-width: 992px) {
  .buttons-section {
    flex-direction: column;
  }
}

.success-stories-section {
  background-color: #f7f7f7;
}

.success-stories-section h3 {
  padding-top: 150px;
  text-align: center;
  color: #C21A3A;
}

.success-stories-section .images-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 120px;
}

@media only screen and (max-width: 1024px) {
  .success-stories-section .images-wrapper {
    padding: 20px;
  }
}

.success-stories-section .images-wrapper img {
  margin: 10px;
  transform: scale(0.8);
  max-width: 80%;
}

.contact-us-section {
  display: flex;
  padding: 20px 120px;
}

@media only screen and (max-width: 1300px) {
  .contact-us-section {
    padding: 20px;
    flex-direction: column;
  }
}

.contact-us-section h3,
.contact-us-section h4,
.contact-us-section p {
  color: #20334D;
}

.contact-us-section p {
  font-size: 17px;
  font-weight: 500;
}

.contact-us-section h3 {
  font-size: 30px;
  line-height: 10px;
}

.contact-us-section .contact-us-form {
  flex-basis: 40%;
}

@media only screen and (max-width: 1300px) {
  .contact-us-section .contact-us-form {
    flex-basis: 100%;
  }
}

.contact-us-section .contact-us-card {
  flex-basis: 60%;
}

@media only screen and (max-width: 1300px) {
  .contact-us-section .contact-us-card {
    flex-basis: 100%;
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 767px) {
  .contact-us-section .contact-us-card {
    transform: scale(0.9);
  }
}

.contact-us-section input {
  margin: 5px 0px;
}

.contact-us-card {
  /*  background: $color-white url("../../resources/images/mac-book.png") ;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat; */
  position: relative;
}

.contact-us-card .macbook-img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .contact-us-card .macbook-img {
    display: none;
  }
}

.contact-us-card .img-wrapper {
  position: absolute;
  top: -5%;
  right: 20%;
}

.contact-us-card .img-wrapper img {
  max-width: 163px;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .contact-us-card .img-wrapper {
    display: none;
  }
}

.contact-us-card .contacts-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .contact-us-card .contacts-wrapper {
    position: unset;
    flex-direction: column;
  }
}

.contact-us-card .card-item-wrapper {
  width: 209px;
}

.contact-us-card .card-item-wrapper .card-item {
  transform: scale(0.7);
}

@media only screen and (max-width: 767px) {
  .contact-us-card .card-item-wrapper {
    width: 300px;
  }
}

.contact-us-card .contact-user-details .phone-email {
  background-color: #C21A3A;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #f7f7f7;
}

footer .first-line {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  border-bottom: 1px solid #ececec;
}

@media only screen and (max-width: 640px) {
  footer .first-line {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

footer .first-line .logo {
  width: 115px;
}

footer .second-line {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
}

@media only screen and (max-width: 1200px) {
  footer .second-line {
    padding: 20px;
  }
}

@media only screen and (max-width: 992px) {
  footer .second-line {
    flex-direction: column;
    align-items: center;
  }
}

footer .second-line ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

footer .second-line li {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: #6a6975;
}

@media only screen and (max-width: 479px) {
  footer .second-line li {
    font-size: 10px;
  }
}

footer .second-line p {
  color: #6a6975;
}

@media only screen and (max-width: 479px) {
  footer .second-line p {
    font-size: 10px;
  }
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}
